@model WebApp.Models.NewListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>


@*@Html.DropDownListFor(
    x => x.SelectedItemId,
    new SelectList(
        Model.brands.Select(x => new { Value = x.Id, Text = x.Name }),
            "Id",
            "Name")

)
*@